* {
    margin: 0;
    padding: 0;
}

body {
    background:#4169E1 ;
}

.container {
    /*Largura*/
    max-width:450px;
    /*Borda*/
    border: 2px solid white ;
    /* Borda arrendondada */
    border-radius: 5px;
    /* Centralizar mimha tela*/
    margin: 0 auto;
}